/*.gba
/*.srl
/*.ss*
/*.sav
/*.sa1
/*.sa2
/*.zip
/*.bin
/test.bat
/test_coletanea.bat
/copy_roms_to_anbernic.bat
/index.php
/Graficos/Comprimidos/*.exe
/Scripts/*.tpl
executar_languagetool.bat
Revisao
vendor
Ferramentas/flipscfg.bin